body {
  font-family: Courier;
  background: #aaa;
}

h1 {
  text-align: center;
}

#container {
  border: 5px inset #444;
  margin: 0 auto;
  width: 460px;
}

div#keypad {
  margin: 0 auto;
  width:  460px;  
  height: 460px;
}

.button {
  float: left;
  height : 92px;
  width : 115px;
  font-family: Courier;
  font-size: 30px;
  background: #383838;
  color: #fff;
  border: 3px inset #444;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.button:hover {
  opacity: 0.9;
}

.button:focus {
  outline: 0;
}

.button:active {
  opacity: 0.9;
  border-top: 5px inset #444;  
  border-bottom: 1px inset #444;  
}

#calculatorDisplay {
  background: #111;
  color: #fff;
  margin: 0 auto;
  padding-right: 25px;
  width: 460px;
  box-sizing: border-box;
  text-align: right;
  line-height: 100px; 
  font-size: 36px;
}

